<template>
  <q-page class="flex flex-center">
    <q-btn
    :loading="working"
    color="primary"
    @click="doSomething">Do something </q-btn>
    <q-btn :loading="working"
    color="negative"
    @click="doSomethingBadly">Do something badly</q-btn><br>
    <q-linear-progress :value="percent" />
  </q-page>
</template>

<style>
</style>

<script>
function makeid(length) {
  let result = '';
  const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  const charactersLength = characters.length;
  for (let i = 0; i < length; i += 1) {
    result += characters.charAt(Math.floor(Math.random() * charactersLength));
  }
  return result;
}
import splitImmediate from 'split-immediate';

// const range = require('lodash.range');

const bees = [];


export default {
  name: 'PageIndex',
  data() {
    return {
      percent: 0,
      working: false,
      // base: range(0, 50000),
      base: {},
    };
  },
  mounted() {
    for (let i = 0; i < 4000; i += 1) {
      this.base[makeid(5)] = makeid(5);
    }
    console.log(this.base);
  },
  methods: {
    async doSomething() {
      const startTime = performance.now();
      console.log('starting the slow process');
      this.working = true;
      const slowFunc = (number, d) => {
        bees[d] = number;
        let out = number;
        for (let i = 0; i < 4000; i += 1) {
          out += i;
        }
        return out;
      };
      const out = await splitImmediate(slowFunc, this.base,
        {
          batchTime: 12,
          progressCallback: this.updatePercent,
          progressFrequency: 5,
          cbReturnsKeys: true,
        });
      // console.log(out);
      this.working = false;
      console.log('Time taken (split): ', performance.now() - startTime);
      console.log(out);
    },


    doSomethingBadly() {
      function slowFunc(number) {
        console.log(this);
        bees[number] = Math.random();
        let out = number;
        for (let i = 0; i < 4000; i += 1) {
          out += i;
        }
        return out;
      }
      const startTime = performance.now();
      console.log('starting the very slow process');
      const out = [];
      for (let i = 0; i < this.base.length; i += 1) {
        out.push(slowFunc(this.base[i]));
      }
      console.log(out);
      console.log('Time taken (bad): ', performance.now() - startTime);
    },
    updatePercent(done, total) {
      console.log('updatePercent', done, total);
      this.percent = done / total;
    },
  },
};
</script>
