<template>
  <q-page class="flex flex-center">
    <test-vue-computed-firestore />
  </q-page>
</template>

<style>
</style>

<script>
import TestVueComputedFirestore from '../components/TestVueComputedFirestore.vue';

export default {
  name: 'PageIndex',
  components: {
    TestVueComputedFirestore,
  },
};
</script>
