<template>
  <div>
    {{license}}
    <br />
    <br />
    {{test}}
    <!-- {{potatoes}}
    <q-btn @click="potatoes.license = {expiry: 1000, strange: 'true'}" color="teal" round>=</q-btn>
    <br />
    <br />
    <div>
      {{license.$key}} :: {{license}}
      <q-btn
        @click="license = {expiry: Math.floor(Math.random() * 10000)}"
        color="positive"
        dense
        round
      >c=</q-btn>
      <q-btn @click="potatoes.elephant = license.$ref" color="yellow" dense round>^=</q-btn>
      <q-btn @click="potatoes.a.b = 15" color="blue" dense round>15</q-btn>
      <q-btn @click="potatoes.a.g.n.reverse()" color="orange" dense round>rev</q-btn>
    </div>
    <div v-for="(license, key) in licenses" :key="key">
      <q-btn @click="lid = license.$key">[{{key}}]</q-btn>
      : {{license.$key}}/{{license.expiry}}
      <q-btn @click="license.expiry = license.expiry - 15" color="primary" dense round>-15</q-btn>
      <q-btn
        @click="license.$set({expiry: Math.floor(Math.random() * 10000)})"
        color="cyan"
        dense
        round
      >$set</q-btn>
      <q-btn
        @click="licenses[key] = {expiry: Math.floor(Math.random() * 10000)}"
        color="positive"
        dense
        round
      >=</q-btn>
      <q-btn
        @click="licenses[key].expiry= Math.floor(Math.random() * 10000)"
        color="secondary"
        dense
        round
      >.=</q-btn>
      <q-btn @click="licenses[key].$delete" color="negative" dense round>DEL</q-btn>
    </div>

    <q-btn
      @click="licenses.$add({expiry: Math.floor(Math.random() * 10000)})"
      color="positive"
    >Add license</q-btn>
    <q-btn
      color="primary"
      @click="licenses['n'] = {expiry: Math.floor(Math.random() * 10000)}"
    >Set license</q-btn>-->

    <!-- {{id}}
    <br />
    {{listUsers}}
    <br />
    <div v-for="(user, key) in listUsers" :key="key">{{user.name}}</div>
    <br />
    <h6>{{mine}}</h6>-->
    <!-- <q-input :value="name" @change="name=$event.target.value" /> -->
    <!-- <q-input :value="mine.name" @change="mine = {name:$event.target.value, harold: 'holt'}" />
    <q-btn color="positive" @click="listMines.laugh ={name: 'HHHHHH', val: 'fuj'}">Add</q-btn>
    <br />
    <q-btn color="negative" @click="mine={yes:'yhttps://trello.com/c/2SEFLWXR/3-cover-all-array-functions, name: 'a;[ja'}">KILL</q-btn>
    <q-btn color="secondary" @click="listMines[ihttps://trello.com/c/2SEFLWXR/3-cover-all-array-functions= {age:'llll', name:'gronky'}">Reset</q-btn>
    <br />
    <q-btn
      v-for="(lmine, key) in listMines"
      :key="key"
      @click="listMines[key] = {name: 'letsgetit'}"
    >-->
    <!-- @click = "lmine.$delete" -->
    <!-- @click="id = key" -->
    <!-- {{lmine.name}}
    </q-btn>
    <br />-->
    <!-- <q-btn @click="opp">Switch</q-btn>-->
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      id: 'abc123-mineID',
      b: {
        fuck: 'yes',
      },
      lid: 'QhWsYg0bHHeAgqL2CGVO',
      comparison: '>',
      mineName: '',
    };
  },
  computedFirestore() {
    return {
      $config: {
        // collectionsAsObject: false,
        // followReferences: 5,
        handlers: {
          updated: (d) => {
            console.warn('TESTUpdated', d);
          },
          modified: (d) => {
            console.warn('TESTModified', d);
          },
          added: (d) => {
            console.warn('TESTadded', d);
          },
          populated: () => {
            console.log('YAY, populated ran', this);
          },
          removed: (g) => {
            console.warn('TESTRemoved', g);
          },
          once: (d) => {
            console.warn('TESTOnce', d);
          },
          changed: (d) => {
            console.warn('TESTChanged', d);
          },
          error: (d) => {
            console.warn('TestError', d);
          },
        },
      },
      // mine: ['mines', ['name', '==', '$mineName']],
      // licenses: [
      //   {},
      //   'licenses',
      //   // ['expiry', '>', 1400],
      // ],
      license: [{}, 'licenses', '$lid'],
      // // potatoes: [{}, 'potatoes', 'I84iGqx2e1jtFUEtpWMQ'],
      test: [{}, 'empty'],
    };
  },
  methods: {
    opp() {
      this.id = this.id === 'abc123-mineID' ? 'testmine-mineID' : 'abc123-mineID';
      this.b = this.b.fuck ? { shit: 'yeah' } : { fuck: 'yes' };
      this.comparison = this.comparison === '>' ? '<' : '>';
    },
  },
  computed: {
    name: {
      get() {
        return this.mineName;
      },
      set(name) {
        this.mineName = name;
      },
    },
  },
  mounted() {
    // do something after mounting vue instance
    console.log(this);
  },
};
</script>

<style>
</style>
